      <section class="jumbotron" style="padding-bottom:15%;padding-top:2%;">
        <h3>Share your love of travel!</h3>
      </section>


<article class="post" style="margin-top:2%;">

    {{#each posts as |post| }}
        {{> post-info post}}
    {{/each}}

</article>


